.container.bg-light
    .col-md-10.text-center
        %h1 Choose playlist to add a song

%br
%br

= render 'form'


.container.bg-light
    .col-md-10.text-center

       

        %a.btn.btn-secondary.btn-lg.active{"aria-pressed" => "true", :href => songs_path, :role => "button",:style => " background-color: #000000 ; color: #FFFFFF; "} Back

