
%body
  
  .jumbotron.text-center
    %h1=t('.title') 
    %p=t('.description') 
 

  .col-xl-12.text-center
    %a.btn.btn-secondary.btn-lg.active{"aria-pressed" => "true", :href => root_path, :role => "button",:style => " background-color: #000000 ; color: #FFFFFF; "} Get Start
