.container.bg-light
    .col-md-12.text-center
        %h1 Edting Song Details
%br
%br
= render 'form'



.container.bg-light
    .col-md-12.text-center



        %a.btn.btn-secondary.btn-lg.active{"aria-pressed" => "true", :href => songs_path, :role => "button",:style => " background-color: #000000 ; color: #FFFFFF; "} Back
