.container.bg-light
    .col-md-10.text-center
        %h1 Enter Song Details
%br
%br
= render 'form'

= link_to 'Back', artists_path



.container
    .col-md-12.text-center
        %a.btn.btn-secondary.btn-lg.active{"aria-pressed" => "true", :href => artists_path, :role => "button",:style => " background-color: #000000 ; color: #FFFFFF; "} Back
