%p#notice= notice
.container.bg-light
  .col-md-10.text-center

  
    %h1=@song.name
    %br
    %br
    %p
      %b Artist:
      = @song.artist.name
    
      %b Album:
      = @song.album
    
      %b Duration:
      = @song.duration


.container.bg-light
  .col-md-10.text-center

    %a.btn.btn-secondary.btn-lg.active{"aria-pressed" => "true", :href =>  new_list_song_path(song_id: @song), :role => "button",:style => " background-color: #000000 ; color: #FFFFFF; "} Add to playlist

    %a.btn.btn-secondary.btn-lg.active{"aria-pressed" => "true", :href => edit_song_path(@song), :role => "button",:style => " background-color: #000000 ; color: #FFFFFF; "} Edit

    %a.btn.btn-secondary.btn-lg.active{"aria-pressed" => "true", :href => songs_path, :role => "button",:style => " background-color: #000000 ; color: #FFFFFF; "} Back
