/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css');

 @import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
 
 body::before {
  background: linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ), url('bg2.jpg') no-repeat center center fixed;
  content: '';
  z-index: -1;
  width: 100%;
  height: 100%;
  position:absolute; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
} body {
  font-family: 'Outfit', sans-serif;
  color: white;
  height: 100%; 
  padding-bottom: 150px;
}
td{
  font-family: 'Outfit', sans-serif;
}

 li.navbarheader {
  font-size: 1.3em;
  height: 2.0em;
 }

 li.navbarheader:hover {
    
    cursor:  pointer;
    font-size: 1.9em;
    height: 2.5em;
  
   }

nav.navbar.navbar-inverse{
  background-color: transparent;
  background: transparent;
  border-color: transparent;

 }

 table.table-dark{
  background-color: transparent;
  background: transparent;
  border-color: transparent;;
 }

 .jumbotron{
   background-color: transparent;
 }


 